<p id="notice"><%= notice %></p>

<div class="row flex">
  <%= render @products %>
</div>

<!-- Product  Modal -->
<div id="productModal" class="modal fade" role="dialog">
</div>

<!-- Cart Modal -->
<div id="cartModal" class="modal fade" role="dialog">
</div>
